.DS_Store
*.DS_Store

# iOS / Xcode
ios/**/xcuserdata/
ios/**/*.xcuserstate
ios/**/DerivedData/
ios/**/.build/
ios/**/*.ipa
ios/**/*.dSYM
ios/**/*.dSYM.zip

# env
.env
.env.local
.env.*.local
!.env.example
